@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: yellowgreen;
  }
}
@media screen and (max-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  body {
    background-color: red;
  }
}